* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    right: 10px;
    top: 30px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin-right: 20px;
}

header a {
    color: black;
    float: left;
    text-decoration: none;
    font-weight: bolder;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: 50px;
}

header a:active {
    box-shadow: 5px 5px 15px 5px #000000;
}

.box {
    text-align: center;
    padding: 100px;
}

.box img {
    width: 70%;
}

.box h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
}

.box.red {
    background-color: red;
    color: yellow;
}

.box.green {
    background-color: green;
    color: yellow;
}

.box.yellow {
    background-color: yellow;
    color: green;
}